a {
	text-decoration: none;
	font-weight: bold;
}

a:link {
	color: rgb(56,81,255);
}

a:visited {
	color: rgb(127,127,127);
}

a:hover {
	color: rgb(56,183,255);
}

body {
	background-color: rgb(0,0,0);
	font: 62.5% "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgb(68,68,68);
	position: relative;
	background-image: url("../images/body-bground-two.png");
	background-repeat: repeat-x;
}

footer {
	display: block;
	width: 960px;
	margin: 10px auto;
	text-align: center;
	font-size: 1.2em;
}

header {
	margin-bottom: 20px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

nav	{
	display: block;
}

section	{
	display: block;
}