<%= image_tag("home.jpg", :id => "home-image") %>

<h1 id="intro-text">The easiest way to <span class="highlight">tag</span>, <span class="highlight">bookmark</span> and <span class="highlight">organise</span> your favourite tweets.</h1>

<ul id="benefits">
	<li>Connect with your <a href="http://twitter.com/">Twitter</a> account</li>
	<li>Tag your favourite tweets for later use</li>
	<li>Automatically synchronise favourites with your Twitter account</li>
	<li><span class="highlight">Coming Soon</span> Discover what people you follow have favourited</li>
</ul>

<br class="clear" />